/* reset */
body{
    font-family: Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 0.875rem;
    line-height: 1.43;
    color: #222222;
    background-color: #fff;
    margin: 0;
}
/* font */
@font-face {
    font-family: 'Airbnb Cereal VF';
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2') format('woff2 supports variations'),  
    url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2')  format('woff2-variations');    
    font-style: normal;    
    unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F, U+FF00-EFFFF,       U+FFFFE-10FFFF;    
    font-display: swap;   }
 @font-face {
    font-family: 'Airbnb Cereal VF';     
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Italics_W_Wght.4d5968bfe066c741d708adc61baed262.woff2') format('woff2 supports variations'), 
         url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Italics_W_Wght.4d5968bfe066c741d708adc61baed262.woff2') format('woff2-variations');   
    font-style: italic;   
    unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F, U+FF00-EFFFF,       U+FFFFE-10FFFF;
    font-display: swap;   } 
    
@font-face {    
    font-family: 'Airbnb Cereal VF';  
    unicode-range: U+0600-06FF, U+0750-077F;   
    font-style: normal;    
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Arabic_W_Wght.d9f154d65b7b534fa988aba51062c8df.woff2') format('woff2 supports variations'),       url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Arabic_W_Wght.d9f154d65b7b534fa988aba51062c8df.woff2') format('woff2-variations');   
    font-display: swap;   } 
@font-face {    
    font-family: 'Airbnb Cereal VF';
    unicode-range: U+0400-04FF;   
    font-style: normal;     
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Cyril_W_Wght.26f0964acf4eb88cb3589d38a3182964.woff2') format('woff2 supports variations'),       url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Cyril_W_Wght.26f0964acf4eb88cb3589d38a3182964.woff2') format('woff2-variations');   
    font-display: swap;   }       
@font-face {    
    font-family: 'Airbnb Cereal VF'; 
    unicode-range: U+0590-05FF, U+FB00-FB4F;
    font-style: normal;
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Hebrew_W_Wght.33e5e2c8babc146eff37ebcaa12cb8bb.woff2') format('woff2 supports variations'),       url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Hebrew_W_Wght.33e5e2c8babc146eff37ebcaa12cb8bb.woff2') format('woff2-variations');  
    font-display: swap;   } 
@font-face { 
    font-family: 'Airbnb Cereal VF'; 
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2') format('woff2 supports variations'),       url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2') format('woff2-variations'); 
    font-style: normal;
    font-display: swap;   }  
@font-face {  
    font-family: 'Airbnb Cereal VF';     
    unicode-range: U+0900-097F;     
    font-style: normal; 
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Deva_W_Wght.11994dc426c38d93ebc5f3cc27490d30.woff2') format('woff2 supports variations'),       url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Deva_W_Wght.11994dc426c38d93ebc5f3cc27490d30.woff2') format('woff2-variations');    
    font-display: swap;   }
@font-face { 
    font-family: 'Airbnb Cereal VF';    
    unicode-range: U+0E00-0E7F;    
    font-style: normal;     
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_ThaiLp_W_Wght.61a8da9355421c30286deb6d36aa3fb0.woff2') format('woff2 supports variations'),       url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_ThaiLp_W_Wght.61a8da9355421c30286deb6d36aa3fb0.woff2') format('woff2-variations');    
    font-display: swap;   } 
@font-face {
    font-family: 'Airbnb Cereal VF';     
    unicode-range: U+0370-03FF;     
    font-style: normal;
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Greek_W_Wght.7f56bb1b50c0f29a313a57f55e55be5f.woff2') format('woff2 supports variations'),       url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Greek_W_Wght.7f56bb1b50c0f29a313a57f55e55be5f.woff2') format('woff2-variations');     
    font-display: swap;   }


    :root{
        --theme-color:#FF385C;
        --dark-light:#222222;
        --light-dark:#DDDDDD;
        --dark:#000000;
        --light:#ffffff;
    }
    .wrappper{
        margin: 0;
        padding:0;
        
    }
    .header1-main{
        display: flex;
        flex-direction: column;
        position:fixed;
        top: 0px;
        right: 0px;
         z-index:99;
         height: 144px;
         box-sizing: border-box ;
         background-color: var(--light);
         border-bottom:1px solid #f7f7f7 ;
         box-shadow: 0 0 6px rgba(0 0 0 / 16%);
         width: 100%;
    }
    .header1-top{
        box-sizing: border-box;
        display: contents; 
    }
    .top-inner{
        background: var(--light);
        position: relative;
        box-sizing: border-box;
        display: block;  
    }
    .top-main{
        margin-inline-end:16px;
        margin-inline-start:16px;
        margin-top: 14px;
        position: relative;
        box-sizing: border-box;
        display: block;
    }
    .btn-header{
        background-color: var(--light);
        display: grid;
        align-items: stretch;
        box-shadow: 0 3px 10px rgba(0 0 0 / 0.1);
        border: 0.5px solid rgba(0 0 0 / 0.08);
        min-height: 54px;
        border-radius: 1000px;
        color: var(--dark-light);
    }
    .btn{
        padding-inline-start:4px;
        padding-inline-end:4px;
        display: inline-grid;
        align-items: center;
        cursor: pointer;
        border: none;
        background: transparent;
        margin: 0px;
        grid-template-columns: 42px minmax(0,1fr);
        color: inherit;
        max-width: 100%;
        height: 100%;
        width:100%;
        position: relative;
        letter-spacing: normal;
        text-align: start;
    }
    .btn-1{
        /* margin: 0;
        padding: 0; */
        display: grid;
        /* align-items: center; */
        justify-content: center;
        place-items: center;
        box-sizing: border-box;
    }
    .btn-1 img{
        display: block;
        width: 20px;
        height: 20px;
        fill: currentColor;
        box-sizing: border-box;
    }
    .btn-2{
        padding-left: 2px;
        max-width: 100%;
        display: inline-block;
        box-sizing: border-box;
        cursor: pointer;
        overflow: hidden;
        
    }
    .btn-2-top{
         text-overflow: ellipsis;
         text-align: start;
        font-weight:500;
        font-size: 14px;
        line-height: 20px;
        white-space: nowrap;
        letter-spacing: normal;
        display: block;
        box-sizing: border-box;
        cursor: pointer;
        font-family: "Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    }
    .btn-2-bottom{
        padding-right: 24px;
        line-height:1rem;
        font-size: 0.75rem;
        display: flex;
        letter-spacing: normal;
        color: #6A6A6A;
        gap: 5px;
        box-sizing: border-box;
        cursor: pointer;
        font-weight: normal;
        font-family: "Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    }
    .btn-2-bottom #span-1 {
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 50px;
        flex: 0 1 auto;
        box-sizing:border-box;
        line-height: 1rem;
        font-size:0.75rem;
        letter-spacing: normal;
        color: #6A6A6A;
        cursor: pointer;
        font-weight: inherit;
        font-family: inherit; 
    }
    #span-2{
        box-sizing: border-box;
        letter-spacing: normal;
        line-height: 1rem;
        font-weight: 0.75rem;
        font-weight: inherit;
        text-align: center;
        display: inline-flex;
        font-family: inherit;
    }
     .header-bottom{
        margin: 0;
        display: block;
        height: 100%;
        min-width: 0;
        overflow-y: hidden;
        --webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
         }
     }
     .bottom-inner{
        padding: 0 24px;
        margin: 0;
        display:flex;
        justify-content: flex-start;
        gap: 16px;
        box-sizing: border-box;
        width: 100%;
     }
     .container-items{
        display:flex;
        width: max-content;
        padding: 4px 0;
        margin-top:12px 0 10px;
        gap: 16px;
        /* min-width: 36px; */
     }
    #f-item{
        margin-top:8px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        min-width: 64px; 
        justify-content: center;
        align-items: center; 
    }
    #f-item img{
        width: 24px;
        height: 24px;
        opacity: 0.6742081447963801
    }
    #f-item span{
        box-sizing: border-box;
        white-space: nowrap;
        text-align: center;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1rem;
        font-family: "Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        color:#646464; 
    }
    #f-icon{
        margin-top:7px;
        margin-left:4px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        min-width: 64px; 
        justify-content: center;
        align-items: center;  
    }
    #f-icon img{
        width: 24px;
        height: 24px;
    }
    #f-icon span{
     box-sizing: border-box;
     white-space: nowrap;
     text-align: center;
     font-size: 0.75rem;
     font-weight: 500;
     line-height: 1rem;
     font-family: "Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
     color:var(--dark);
    }
    #f-icon::after{
        background-color: var(--dark);
        opacity: 1;
        position: absolute;
        bottom: -1px;
        inset-inline: 0;
        content:  '';
        width: 30px;
        height: 2px;
        box-sizing: border-box;
        margin-left:145px;
        display: block;
    }
    .items{
        margin-top:8px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        min-width: 64px; 
        justify-content: center;
        align-items: center;   
    }
     .items img{
        width: 24px;
        height: 24px;
        /* margin-bottom: 4px; */
        opacity: 0.6742081447963801;
     }
     .items span{
     box-sizing: border-box;
     white-space: nowrap;
     text-align: center;
     font-size: 0.75rem;
     font-weight: 500;
     line-height: 1rem;
     font-family: "Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
     color:#646464;
     }
     /* ---------header-1----------------- */
     /* ---------header-2----------------- */
     .header-2{
        display: none;
        box-sizing: border-box;
        position:fixed;
        z-index: 100;
        top: 0;
        right: 0;
        width: 100%;
        background-color: var(--light);
     }
     .header2-toptgroup::after{
        background: var(--light);
        position: absolute;
        height: 100%;
        width: 100%;
        content: '';
        top: 0;
        opacity: 1;
        box-sizing: border-box;
        box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
     }
     .header2-top{
        padding: 0 40px 0 40px;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        z-index: 1;
        max-width: 1814px;
        box-sizing: border-box;
        overflow: hidden;
     }
     .logo{
        flex: 0 0 auto;
        display: block;
        box-sizing: border-box;
     }
     .logo a{
        display: inline-flex;
        align-items: center;
        position: relative;
        z-index: 1;
        height: 80px;
        text-decoration: none;
        color: var(--theme-color);
        box-sizing: border-box;
     }
     .logo-img svg{
       display: block;
       width:30px;
       height: 32px;
     }
     .search2{
        display: block;
        flex: 0 1 auto;
        text-align: center;
        padding: 0 24px;
        box-sizing: border-box;
        max-width: 364px;
    }
    .search-inner2{
        margin: 0 auto;
        text-align: left;
        width:100%;
        display: inline-block;
    }
    .search-main2{
        background-color:var(--light);
        display: inline-flex;
        align-items: center;
        border-radius: 40px;
        text-align: left;
        border: 1px solid var(--light-dark);
        max-width: 100%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
        color: var(--dark-light);
        box-sizing: border-box;
        
    }
    .btn2-1{
        padding-left: 8px;
        padding-right: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius:4px;
        background: transparent;
        border: 1px solid transparent;
        margin: -1px;
        color: inherit;
        z-index: 1;
        height: 48px;
        flex: 0 1 auto;
        box-sizing: border-box;
        text-overflow: ellipsis;

    }
    .inner-btn2-1{
        font-weight: 500;
        font-size: 0.875rem;
        padding:0 16px;
        line-height: 1.375rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1 1 auto;
        max-width: 87px;
        overflow: hidden;
        box-sizing: border-box;
        display: block;
        font-family:"Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    }
    .space2-btn1{
        background-color:var(--light-dark);
        height: 24px;
        width:1px;
        flex: 0 0 1px;
        box-sizing: border-box;
        color: var(--dark-light); 
        text-align: left;
    }
    .btn2-2,.btn2-3{
        padding: 0;
        align-items: center; 
        cursor:pointer;
        border-radius:4px;
        background-color: transparent;
        margin: -1px;
        color: inherit;
        position: relative;
        height: 48px;
        border: 1px solid transparent;
        box-sizing: border-box;
        flex: 0 1 auto; 
        display: flex;
        /* padding-block: 1px;
        padding-inline: 6px; */
    }
    .space2-btn2{
        background-color:var(--light-dark);
        height: 24px;
        width:1px;
        flex: 0 0 1px;
        box-sizing: border-box;
        color: var(--dark-light); 
        text-align: left;
        margin-left: -3px;
    }
    .inner-btn2-3-left{
        font-weight: 400;
        color: #6A6A6A;
        font-size: 0.875rem;
        padding:0 16px;
        line-height: 1.375rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1 1 auto;
        max-width: 85px;
        overflow: hidden;
        box-sizing: border-box;
        display: block;
        font-family:"Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    } 
     .inner-btn2-3-right{
        background-color: var(--theme-color);
        border-radius:50%;
        padding: 10px;
        margin: 7px 7px 7px 3px;
        color: var(--light);
        height: 32px;
        width: 32px;
        box-sizing: border-box;
        display: block;
        cursor: pointer; 
     } 
     .inner-btn2-3-right img{
        width: 12px;
        height: 12px;
        display: block;
        color: var(--light);
     }
     .account{
        flex: 1 0 auto;
        box-sizing: border-box;
        display: block;
     }
     .nav{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;height: 80px;
        box-sizing: border-box;
        margin: 0;
        padding:0;
        width: 100%;
        max-width: 100%;
     }
     .nav-left{
        display: flex;
        flex: 1 1 auto;
        justify-content:flex-end;
        margin-right:8px;
        box-sizing: border-box;
     }
     .nav-left a{
        cursor: pointer;
        border: 0;
        margin: 0;
        background: transparent;
        text-decoration: none;
        padding: 12px;
        white-space: nowrap;
        position: relative;
        z-index: 1;
        display: inline-block;
        color: var(--dark-light);
        overflow: visible;
     }
     .nav-content{
        display: flex;
        align-items: center;
        height: 100%;
        z-index: 1;
        box-sizing: border-box;
        cursor: pointer;
        font-weight: 500;
        line-height: 1.125rem;
        font-size: 0.875rem;
        white-space: nowrap;
        color: var(--dark-light);
     }
     .nav-left-icon{
        position: relative;
        display: inline-block;
        margin: auto 0;
        box-sizing: border-box;
     }
     .nav-left-btn{
        cursor: pointer;
        border: 0;
        margin: 0;
        background: transparent;
        padding: 12px;
        white-space: nowrap;
        display: inline-block;
        color: var(--dark-light);
        box-sizing: border-box;
        overflow: visible;

     }
     .nav-btn{
        display: flex;
        height: 18px;
        align-items: center;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        cursor: pointer;
     }
     .nav-btn svg{
        display: block;
        width: 16px;
        height: 16px;
        overflow: hidden;
     }
     .nav-right{
        display: block;
        box-sizing: border-box;
     }
     .nav-right-inner{
        display: inline;
        position: relative;
        box-sizing: border-box;

     }
     .nav-right-btn{
        background-color: var(--light);
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        margin: 0;
        border: 1px solid var(--light-dark);
        background: transparent;
        padding: 8px 8px 8px 14px;
        border-radius: 30px;
        position:relative;
        z-index: 1;
        color: var(--dark-light);
        height: 48px;
        box-sizing: border-box;
        overflow: visible;
     }
     .burger{
        display: block;
        box-sizing: border-box;
     }
     .burger svg{
        display: block;
        height: 16px;
        width: 16px;
        box-sizing: border-box;
        color: var(--dark-light);
        overflow: visible;
     }
     .acc{
        margin-left: 14px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        color: #6A6A6A;
        width: 32px;
        height: 32px;
        flex: 0 0 32px;
        box-sizing: border-box;
        display: block;
     }
     .acc svg{
        display: block;
        width: 100%;
        height: 100%;
        fill: currentColor;
        color: #6A6A6A;
        overflow: hidden;
     }
     .header2-bottom{
        border-top: 1px solid #f3f3f3;
        border-bottom: 1px solid #f3f3f3;  
        box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
        margin: 0 0 0 -24px;
        display: block;
        height: 100%;
        min-width: 0;
        overflow-y: hidden;
        --webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
         }
     }
     .bottom2-inner{
        padding: 0 24px;
        /* margin: 0; */
        margin-bottom: 5px;
        display:flex;
        justify-content: flex-start;
        gap: 16px;
        box-sizing: border-box;
        width: 100%;  
     }
     .container2-items{
        display:flex;
        width: max-content;
        padding: 3px 0 4px 0;
        margin-top:12px 0 10px;
        gap: 32px;
        /* min-width: 36px; */
     }
    #f-item2{
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        min-width: 64px; 
        justify-content: center;
        align-items: center; 
    }
    #f-item2 img{
        width: 24px;
        height: 24px;
        opacity: 0.6742081447963801
    }
    #f-item2 span{
        box-sizing: border-box;
        white-space: nowrap;
        text-align: center;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1rem;
        font-family: "Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        color:#646464; 
    }
    #f-icon2{
        margin-top:9px;
        margin-left:4px;
        margin-right: -8px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        min-width: 64px; 
        justify-content: center;
        align-items: center;  
    }
    #f-icon2 img{
        width: 24px;
        height: 24px;
    }
    #f-icon2 span{
     box-sizing: border-box;
     white-space: nowrap;
     text-align: center;
     font-size: 0.75rem;
     font-weight: 500;
     line-height: 1rem;
     font-family: "Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
     color:var(--dark);
    }
    #f-icon2::after{
        background-color: var(--dark);
        opacity: 1;
        position: absolute;
        bottom: 0;
        inset-inline: 0;
        content:  '';
        width: 30px;
        height: 2px;
        box-sizing: border-box;
        margin-left:177px;
        display: block;
    }
    
    .Farms{
        margin-top:8px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        min-width: 64px; 
        justify-content: center;
        align-items: center;   
    }
    .Farms img{
        width: 24px;
        height: 24px;
        /* margin-bottom: 4px; */
        opacity: 0.6742081447963801;
     }
     .Farms span{
     box-sizing: border-box;
     white-space: nowrap;
     text-align: center;
     font-size: 0.75rem;
     font-weight: 500;
     line-height: 1rem;
     font-family: "Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
     color:#646464;
     }
    .items2{
        margin-top:8px;
        margin-left: -4px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        min-width: 64px; 
        justify-content: center;
        align-items: center;   
    }
     .items2 img{
        width: 24px;
        height: 24px;
        /* margin-bottom: 4px; */
        opacity: 0.6742081447963801;
     }
     .items2 span{
     box-sizing: border-box;
     white-space: nowrap;
     text-align: center;
     font-size: 0.75rem;
     font-weight: 500;
     line-height: 1rem;
     font-family: "Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
     color:#646464;
     }
     /* header end */
    .main{
        display: block;
        margin-top: 173px;
        padding: 0;
    }
    .inner-main{
        margin: 23px 0;
        padding: 0 23px;
        box-sizing: border-box;
        display: block;
    }
    .card-container-1{
        display: flex;
        flex:1;
        flex-direction: column;
        justify-content: start;
        gap:39px 20px;
    }
    .card-1{
        display: inline-flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        position: relative;
    }
    .card-1 img{
        display: flex;
        aspect-ratio: 20/19;
        margin-bottom: 11px;
        border-radius: 12px;
        border: 1px solid transparent;
        object-fit: cover;
        /* object-position: center; */
    }
    .download-btn-1{
        position: absolute;
        top:13px;
        right: 13px;
        cursor: pointer;    
        border-radius:50% ;
        border: none;
        background-color: rgba(255, 255, 255,0.8);
    }
    .download-btn-1 img{
        padding: 1px 1px 4px 1px;
        margin:5px 0px  2px 0;
        width:16px;
        height: 16px;
        display: block;
        /* stroke-width:3; */
        /* color:rgba(255, 255, 255,0.6) ; */
        opacity: 0.6742081447963801;

    }
   
    .p{
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-left: 1px;
    }
    .p1{
        font-weight: 500;
        line-height: 1.1875rem;
        font-size:  0.9375rem;
        text-overflow: ellipsis;
        color: var(--dark-light);
        box-sizing:border-box;
        white-space: nowrap;
        color:var(--dark-light);
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: "Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    }
    .p2{
        font-weight:normal;
        line-height: 1.1875rem;
        font-size:  0.9375rem;
        text-overflow: ellipsis;
        color: var(--dark-light);
        box-sizing:border-box;
        white-space: nowrap;
        color:#6A6A6A;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: "Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    }
    .card-container-2{
        display: flex;
        flex:1;
        flex-direction: column;
        justify-content: start;
        margin-bottom: 24px;
        margin-top: 52px;
    }
    .card-container-2 h1{
        font-weight: 500;
        margin-top:0;
        margin-bottom:-16px;
        margin-left: 1px;
        line-height: 2.25rem;
        font-size: 2rem;
        color: var(--dark-light);
        letter-spacing: -0.02em;
        box-sizing: border-box;
        font-family: "Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    }
    .card-container-body{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap:39px 20px;
        margin-top: 39px;
    }
    .card-2{
        display: inline-flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        position: relative;
    }
    .card-2 img{
        display: flex;
        aspect-ratio: 20/19;
        margin-bottom: 11px;
        border-radius: 12px;
        border: 1px solid transparent;
        object-fit: cover;
        /* object-position: center; */
    }
    .download2-btn-1 {
        position: absolute;
        top:13px;
        right:13px;
        cursor: pointer; 
        border-radius:50% ;
        border: none;
        background-color: rgba(255, 255, 255,0.8);
    }
         
    .download2-btn-1 img{
        padding: 1px 1px 4px 1px;
        margin:5px 0px  2px 0;
        width:16px;
        height: 16px;
        display: block;
        /* stroke-width:3; */
        opacity: 0.6742081447963801;

    }
    .card-container-3{
        display: block;
        box-sizing: border-box;
    }
    .container3-top{
        margin-top: 56px;
        text-align: center;
        font-weight: 500;
        line-height: 1.375rem;
        font-size: 1.125rem;
        box-sizing: border-box;
        display: block;
        font-family: 'Airbnb Cereal VF', 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;
    }
    .container3-bottom{
        display: flex;
        justify-content: center;
        margin-top: 16px;
        width: 100%;

    }
    .more-btn{
        margin: 0;
        background-color: var(--dark-light);
        border-radius: 8px;
        text-align: center;
        cursor: pointer;
        border: none;
        font-weight:500;
        font-family: 'Airbnb Cereal VF', 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;
        line-height: 1.25rem;
        font-size: 1rem;
        padding: 14px 24px;
        position: relative;
        color: var(--light);
        width: auto;
    }
    .container-1{
        margin-inline-end: auto;
        max-width: 1440px;
        padding: 48px 24px 25px 24px;
        box-sizing: border-box;
        display: block;
        background-color: #f7f7f7;
        border-bottom: 1px solid var(--light-dark); 
        overflow:hidden;
    }
    .inner-container-1{
        display: block;
    }
    .container-1 h2{
     margin-top: 8px;
     /* margin-bottom: 8px; */
     font-weight: 500;
     line-height: 1.62;
     padding: 48px 24px 25px 24px;
     font-size: 1.375rem;
     letter-spacing: -0.01375rem;
     box-sizing: border-box;
     color: var(--dark-light);
    }
    .inner-main{
        display: block;
    }
    .main-top{
        position: relative;
        box-sizing: border-box;
        display: block;
        box-sizing: border-box;
        white-space: nowrap;
    }
    .main-top-inner{
        display: flex;
        padding: 0 14px;
        margin: -15px -22px;
        border-bottom: 1px solid var(--light-dark);
        overflow-x: scroll;
        overflow-y: hidden;
       --webkit-overflow-scrolling: touch;
       &::-webkit-scrollbar {
        display: none;
     }
    }

    #btn-first{
      margin:6px 6px 6px -25px;
      border: none;
      font-weight: 500;
      line-height: 1.125rem;
      font-size: 0.875rem;
      font-family:  'Airbnb Cereal VF', 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;      ;
      padding: 10px;
      border-radius: 8px;
      cursor: default;
      color: var(--dark-light);
      letter-spacing: normal;
      box-sizing: border-box;
      text-align: center;
      background: transparent;
    }
    .main-top-inner::after{
        background-color: var(--dark);
        opacity: 1;
        position: absolute;
        bottom: 1px;
        inset-inline: 0;
        content:  '';
        width: 50px;
        margin-left: -23px;
        height: 2px;
        box-sizing: border-box;
        display: block;
    }
    .btn-slide{
        margin:6px 6px 6px 0px;
        border: none;
        font-weight:500;
        line-height: 1.125rem;
        font-size: 0.875rem;
        font-family:  'Airbnb Cereal VF', 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;      ;
        padding: 10px;
        border-radius: 8px;
        cursor: default;
        color: var(--dark-light);
        letter-spacing: normal;
        box-sizing: border-box;
        text-align: center;
        background: transparent;
        color:#6A6A6A;
      }
      #next{
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        border: none;
        background: transparent;
        padding: 0;
        position: absolute;
        top: 0px;
        right: -9px;
        color: var(--dark-light);
        width: 36px;
        height: 50px;
        cursor: pointer;
        padding: 0 14px;
        margin: 1px -40px;
        /* box-shadow:1px 1px 1px 1px darkblue; */
      }
     #next img{
        display: block;
        height: 14px;
        width: 14px;
            /* stroke: currentcolor;
            stroke-width: 3; */
        color: #222222;
        opacity:0.8;

        fill:#222222;
        align-items: center;
     }
   .main-bottom{
    margin: 0;
    padding-top: 32px;
    box-sizing: border-box;
    display: block;
   }
.main-bottom ul{
    padding: 0;
    margin-top: 15px;
    margin-left: -23px;
    margin-right: -21px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap:24px;
    column-gap: 10px;
    list-style: none;
    box-sizing: border-box;
}
.main-bottom ul a{
    display: flex;
    flex-direction: column;  
    line-height: 1.125rem;
    font-size: 0.875rem; 
    text-decoration: none;
    font-family:  'Airbnb Cereal VF', 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;      ;
    
}
.span-top1{
    font-weight:500;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--dark-light);
    box-sizing: border-box;
}
.span-bottom1{
        font-weight:normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        color:#6A6A6A;
        box-sizing: border-box;     
}
.span-top2{
    font-weight:500;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--dark-light);
    box-sizing: border-box;
    display: none;
}
.span-bottom2{
        font-weight:normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        color:#6A6A6A;
        box-sizing: border-box;  
        display: none;   
}
.show{
    text-align: center;
    display: flex;
    align-items:start;
    padding: 0;
    cursor: pointer;
    border: none;
    background: transparent;
    border-radius:8px;
    position: relative;
    color: var(--dark-light);
    gap: 4px;
    width: auto;  
    margin-top:-60px;
    margin-right:-100px;
}
.show span{
    text-align: center;
    cursor: pointer;
    font-weight:500;
    line-height: 1.125rem;
    font-size: 0.875rem;
    color: var(--dark-light);
    font-family:  'Airbnb Cereal VF', 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;
}
.show img{
    height: 12px;
    width: 12px;
    display: block;
    margin-top:3px;
}
.container-2{
    padding: 0 24px 24px 24px;
    margin-left: -1px;
    border-top:0;
    box-sizing: border-box;
    display: block;
    border: 1px solid #f3f3f3;
    /* margin-bottom: 65px; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #f7f7f7;
}
.container-2 h3{
    margin-bottom: 12px;
    margin-top: -1px;
    font-weight:500;
    line-height: 1.125rem;
    font-size: 0.875rem;
    color: var(--dark-light);
    box-sizing: border-box;
    display: block;
    font-family:  'Airbnb Cereal VF', 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;
}
.container-2 ul{
    display: grid;
    padding: 0;
    margin: 0;
    gap: 12px;
    list-style: none;
    box-sizing: border-box;
}
.container-2 ul a{
    text-decoration: none;
    color: var(--dark-light);
    font-weight: 400;
    line-height: 1.125rem;
    font-size: 0.875rem;
    background: transparent;
}
.con{
    margin-bottom: -1px;
}
.con-div-1{
    padding: 24px 0;
    border-bottom: 1px solid var(--light-dark);
    margin-top: 0;
}
.con-div-2{
    padding: 24px 0;
    border-bottom: 1px solid var(--light-dark);
    margin-top: 1px;
}
.con-div-3{
    padding: 24px 0;
    border-bottom: 1px solid var(--light-dark);
    margin-top: 1px;
}
footer{
    padding: 24px 0 0 0;
    box-sizing: border-box;
    display: block;
    /* margin-bottom:65px; */
}
.footer-section{
    display: block;
}
.footer-1{
    margin-bottom: 21px;
    box-sizing: border-box;
    display: block;
}
.f-inner1{
    display: flex;
}
.f-inner1 img{
    margin-right: 8px;
    width: 16px;
    height: 16px;
    display: block;
    margin-top: 1px;
}
footer button{
    margin-left: -6px;
    display: flex;
    border: none;
    background-color: transparent;
    color: var(--dark-light);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-family:  'Airbnb Cereal VF', 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin-right:15px;
}
#f-span2{
    margin-left:3px;
    margin-right: 5px;
    font-weight: 500;
    font-size: 1rem;
    box-sizing: border-box;
    font-family:  'Airbnb Cereal VF', 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;
}
#f-span3{
    font-weight: 500;
    font-size: 0.875rem;
    box-sizing: border-box;
    font-family:  'Airbnb Cereal VF', 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;
}
.f-inner2{
    margin-left: 27px;
    margin-top: 1px;
    display:none;
    box-sizing: border-box;
}
.f-inner2 ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.f-inner2 li{
    margin-right: 4px;
    box-sizing: border-box;
    display: list-item;
}
.f-inner2 a{
    display: block;
    width:fit-content;
    color: var(--dark-light);
    text-decoration: none;
    box-sizing: border-box;

}
.f-inner2 a img{
    width: 18px;
    height: 18px;
    display: block; 
}
.footer-2{
    box-sizing: border-box;
    display: block;
    /* margin-bottom: 64px; */
}
.f-div1{
    font-size: 0.875rem;
    line-height: 1.125rem;
    display: inline-block;
    color: var(--dark-light);
    margin-bottom: 2px;
    width: 100%;
}
.f-div2{
    margin-top: 2px;
    line-height: 1.625rem;
    display: inline-block;
    box-sizing: border-box;
}
.f-div2-inner{
    display: flex;
    flex-direction:column;
}
.f-div2 ol{
    margin: 0;
    padding: 0;
    display:flex;
    /* grid-template-columns: repeat(4,1fr); */
    list-style: none;
}
.f-div2 ol a{
    font-family:  'Airbnb Cereal VF', 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;
    position: relative;
    text-decoration: none;
    color: var(--dark-light);
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight:400;
    margin-right:-3px;
}
.f-div2 span{
    display: inline-block;
    text-align:center;
    width:19px;
    font-size: 0.875rem;
    line-height: 1.125rem;
    
    
}
 .f-div2 .inner-div a{
    font-family:  'Airbnb Cereal VF', 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;
    position: relative;
    text-decoration: none;
    color: var(--dark-light);
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight:400;
}
.fixed{
    display: block;
    width: 100%;
    height: 64px;
    margin: 0;
    padding: 0;
}
@media screen and (min-width:375px) {
   .top-main{
    margin-inline-end:24px;
    margin-inline-start:24px;
   } 
   .btn{
    padding-inline-start: 9px;
   }
   .btn-2{
    padding-left: 7px;
   }
   .f-div2-inner{
    display: flex;
    flex-direction:row;
}  
   
}
@media screen and (min-width:550px) {
    .card-1{
     width: 47.8%;
    } 
    .card-container-body{
        flex-direction: row;
        gap:39px 22px;
    }
    .card-2
    {
        width:47.8%;
    }
 }
 @media screen and (min-width:744px) {
    .header1-main{
        display: none;
    }
    .header-2{
        display: block;
    }
    .inner-main{
        padding: 0 40px ;
        margin-left: -1px;
    }
    .search2{
        max-width: 358px;   
    }
    .header2-bottom{
        padding: 0 40px;
    }
    .card-1{
        width:48.4%
    }
    .card-container-body{
        gap: 39px 22px;
        margin-right: -2px;
    }
    .card-2{
        width:48.3%; 
    }
    .container-2{
        padding: 0 40px;
    }
    .container-1 h2{
        margin-left: 16px;
    }
    .footer-1{
        display: flex;
    }
    .f-inner2{
        display: flex;
    }
    .footer-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .f-div1{
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .f-div2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fixed{
    height:20px;
    }
    .f-inner1{
    margin-left: 5px;
    }
    .f-div2-inner{
        margin-left: 1px;
        margin-top: -4px;
    }
    .f-div1{
        margin-bottom:0 ;
        margin-left: 0.5px;
    }
    .footer-1{
        margin-bottom: 15px;
    }
    .span-top2{
       display:inline;
    }
    .span-bottom2{
        display:inline;
    }
    .show{
        margin:0;
    }
    #con-div-1-id{
        margin-bottom: 0px;
    }
    .container-1{
        padding: 40px 24px 25px 24px;
    }
 }
@media screen and (min-width:787px) {
    .search2{
        max-width: none;
    }
    .inner-btn2-1{
        max-width: none;
        min-width: 80px;
    }
    .space2-btn2{
        margin-left: 0;
    }
    .inner-btn2-3-left{
        max-width: none;
        min-width: 80px;
    }
    .inner-btn2-3-right{
        margin-left: 0px;
    }
    } 
